<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
    <!-- Font Icon -->
    <link rel="stylesheet" href="/css/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/style-sign.css">

<head>
    <title>Signup</title>
</head>
<body>
<div layout:fragment="content" class="main">
<!--    <form class="form-signin" th:action="@{/signup}" method="post">-->
<!--        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72" />-->
<!--        <h1 class="h3 mb-3 font-weight-normal">Signup Here</h1>-->
<!--        <div th:if="${param.error}">-->
<!--            Invalid email and password.-->
<!--        </div>-->
<!--        <div th:if="${param.logout}">-->
<!--            You have been logged out.-->
<!--        </div>-->
<!--        <label for="inputEmail" class="sr-only">Username</label>-->
<!--        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Username" required="" />-->
<!--        <label for="inputPassword" class="sr-only">Password</label>-->
<!--        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="" />-->
<!--        <label for="inputName" class="sr-only">Full Name</label>-->
<!--        <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" required="" />-->
<!--        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>-->
<!--    </form>-->
<!--    <form class="form-signin" th:action="@{/login}" method="get">-->
<!--        <button class="btn btn-md btn-success btn-block" type="Submit">Sign In</button>-->
<!--    </form>-->
    <div class="container signup">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form class="register-form" id="register-form" th:action="@{/signup}" method="post">
                    <div th:if="${param.error}">
                        Invalid email and password.
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>
                    <div class="form-group">
<!--                        <label for="inputName" class="sr-only">Full Name</label>-->
<!--                        <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" required="" />-->
                        <label for="inputName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="name" id="inputName" placeholder="Your Name"/>
                    </div>
                    <div class="form-group">
<!--                        <label for="inputEmail" class="sr-only">Username</label>-->
<!--                        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Username" required="" />-->
                        <label for="inputEmail"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" name="email" id="inputEmail" placeholder="Your Email"/>
                    </div>
                    <div class="form-group">
<!--                        <label for="inputPassword" class="sr-only">Password</label>-->
<!--                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="" />-->
                        <label for="inputPassword"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="password" id="inputPassword" placeholder="Password"/>
                    </div>
                    <div class="form-group form-button">
<!--                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>-->
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="/images/signup-image.jpg" alt="sing up image"></figure>
                <a href="/login" class="signup-image-link">I am already member</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>